<div class="col-12 media p-4 bg-white mt-4 mb-1 rounded-3 shadow-sm">
  <%= form_with url: '/search', class:"d-flex needs-validation", method: :get, html: {novalidate: true} do |f| %>
    <input class="form-control me-2" type="search" name="fruit" placeholder="Search Fruits" value="<%= params[:fruit] %>" aria-label="Search" required="true">
    <button class="btn btn-primary" type="submit">SEARCH</button>
  <% end %>
</div>
