<footer class="text-black">
  <div>
    <div class="container pt-3 pb-3">
      <div class="row">
        <div class="col-12 text-center">
          <div class="text-left align-self-center">
            ©2021 Developed by <a href="https://claudioduarte.pt" target="_blank"><%= image_pack_tag("cd.png", alt: "Cláudio Duarte", class: "mt-n1") %></a>
            <p>This is a Recruitment exercise for iCapital Network.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
