<div class="offset-md-4 col-12 col-sm-4 mt-5">
  <div class="p-4 bg-white rounded-3 shadow-sm">
    <h3 class="mb-4">Authentication</h3>
    <%= form_with url: sessions_path, local: true, class:"needs-validation", html: {novalidate: true} do |f| %>
    <div class="form-group mb-3">
      <label for="userEmail">E-mail</label>
      <%= f.email_field :email, class: 'form-control', id: 'userEmail', required: 'true' %>
    </div>
    <div class="form-group">
      <label for="userPassword">Password</label>
      <%= f.password_field :password, class: 'form-control', id: 'userPassword', required: 'true' %>
    </div>
    <button type="submit" class="btn btn-primary btn-block mt-4 p-2 w-100">LOGIN TO ACCOUNT</button>
    <% end %>
  </div>
</div>


<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>
